*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;;
}

a,
a:hover {
    text-decoration: none;
} 

a:hover {
    color: var(--primary-color);
}

ol,ul {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#A82C48;
    --secondry-color:#43121d;
    --third-color:#f98169;
    --white-color:#fff;
    --text-color:#555;
    --text-grey:#999;
    --black-color:#000;
    --primary-font:'Roboto',sans-serif;
    --secondry-font:'Quicksand',sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}